<configuration>
    <!-- Console Appender -->
    <appender name="myConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yy HH:mm:ss} [%thread] %-5level %logger{36} - %msg %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- File Appender -->
    <appender name="myFileAppender" class="ch.qos.logback.core.FileAppender">

        <file>D:/Project/journalApp/logs/journalApp.log</file> <!-- Log file location -->
        <append>false</append> <!-- Overwrite the log file on every run -->

        <encoder>
            <pattern>%d{dd-MM-yy HH:mm:ss} [%thread] %-5level %logger{36} - %msg %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="myConsoleAppender" />
        <appender-ref ref="myFileAppender" />
    </root>
</configuration>
